# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: f334c4a4ac73c4010ec105fccbe029d8f7fee2f80ae5ae0845ea43169885a5f90fafedc5bf64d1d622bce173c70a687f48ac38f0793a4fa8ac7d5979adead4dc

test:
  secret_key_base: d9dbe997ec829c4dcdbea693f30811ae722e5494902eaeb45ad4535b57eae8a20f50183f2dd89eecce6384bb6088cb2a69dd4cf2495972d4e29b9cb5ab1236d1

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
